:root {
  /* Default theme variables - these will be overridden by the theming system */
  --background-color: rgb(24, 24, 37); /* catppuccin-mocha default */
  --hover-background-color: rgba(203, 166, 247, 0.13);
  --input-background-color: rgb(30, 30, 46);
  --input-hover-background-color: rgba(30, 30, 46, 0.49);
  --tab-bg-color: rgb(49, 50, 68);
  --tab-active-bg-color: rgb(88, 91, 112);
  --utility-background-color: rgb(49, 50, 68);
  --dark-translucent-bg: rgba(88, 91, 112, 0.43);
  --background-image: url("/res/DDX.bg.png");
  --logo: url("/res/logo.png");

  --border-color: rgb(88, 91, 112);

  --text-color: rgb(205, 214, 244);
  --hover-text-color: rgba(205, 214, 244, 0.7);
  --active-text-color: rgba(203, 166, 247, 1);

  --tab-content-margin: 9px;
  --searchbar-width: calc(100% - calc(2 * 36px));

  --main-color: rgb(203, 166, 247);
  --muted: rgb(172, 176, 190);
  --faded-main-color: rgba(203, 166, 247, 0.26);
}
